includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - includes
        - wb-ads-rotator-with-split-test.php
    scanDirectories:
        - ../../..
    excludePaths:
        - vendor
        - node_modules
    bootstrapFiles:
        - vendor/autoload.php
