<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	verbose="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
	<testsuites>
		<testsuite name="free">
			<directory suffix=".php">./tests/free</directory>
		</testsuite>
		<testsuite name="pro">
			<directory suffix=".php">./tests/pro</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="WP_TESTS_MULTISITE" value="0"/>
		<env name="WBAM_RUN_PRO_TESTS" value="0"/>
	</php>
</phpunit>
